function formatNumber(n) {
    n = n.toString();
    return (n[(1)] ? n : '0' + n)
};
var filters = ({
    toFix: (function(value) {
        if (!value) return ('');;
        return (value.toFixed(2))
    }),
    timeToDate: (function(value) {
        if (!value) return ('');;
        var date = getDate(parseInt(value) * 1000);
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();
        return ([year, month, day].map(formatNumber).join('-') + ' ' + [hour, minute, second].map(formatNumber).join(':'))
    }),
    timeToDay: (function(value) {
        if (!value) return ('');;
        var date = getDate(parseInt(value) * 1000);
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        return ([year, month, day].map(formatNumber).join('-'))
    }),
});
module.exports = filters;